<header>
    <div class="logo">
        <img src="../img/svg/burger_menu.svg" alt="burger_menu" class="burger">
        <img src="../img/svg/Logotype.svg" alt="logo" width="150" height="100">
        <a href="#">
            <img src="../img/svg/W.svg" width="25" alt="search">
        </a>
    </div>
    <nav>
        <hr>
        <ul class="menu">
            <li class="menu-item">Demos
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">Post
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">Features
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">Categories
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">Shop
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">Buy Now
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
    </nav>

    <div class="mobile-menu">
        <div class="mobile-menu-main">
            <img src="../img/svg/Logotype.svg" alt="logotype">
            <img src="../img/svg/x.svg" alt="close-btn" class="close-btn">
        </div>
        <ul class="mobile-menu-content">
            <li class="mobile-menu-item">Demos
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu-item">Post
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu-item">Features
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu-item">Categories
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu-item">Shop
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu-item">Buy Now
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>