<section class="hero-section">
    <div>
        <img src="/img/hero/image1.svg" srcset="/img/hero/image1.svg 2x" alt="image1">
    </div>
    <div class="middle">
        <p class="upper-text">Sales up to 50%</p>
        <p>Pulvinar Amet Morbi
            Efficitur Justo</p>
        <img src="/img/hero/image2.svg" srcset="/img/hero/image2.svg 2x" alt="image2">
        <p class="lower-text">Nunc venenatis adipiscing mauris lorem non risus molestie ut. Dolor ex. Cras sodales
            efficitur nec </p>
        <div class="hover-animation">
            <a href="#" class="shop-all">Shop All</a>
            <img src="/img/svg/share.svg" srcset="/img/hero/image3.svg 2x" alt="share" class="share-icon">
        </div>
    </div>
    <div>
        <img src="/img/hero/image3.svg" alt="image3">
    </div>
</section>