<main id="eee">
    <div class="posts">
        <div class="post">
            <img src="../img/svg/post1.svg" srcset="../img/svg/post1.svg 2x" alt="post1">
            <h4>Lifestyle</h4>
            <h3>Eat Right For Your Exercise Regime</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post2.svg" srcset="../img/svg/post2.svg 2x" alt="post2">
            <h4>Lifestyle</h4>
            <h3>The Look: Perfect Balance</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post3.svg" srcset="../img/svg/post3.svg 2x" alt="post3">
            <h4>Style</h4>
            <h3>Fun Things to Do in Rome</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post4.svg" srcset="../img/svg/post4.svg 2x" alt="post4">
            <h4>Style</h4>
            <h3>24 Colorful Ceilings That Add Unexpected Contrast to Any Room</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <!-- <div class="post">
            <img src="../img/svg/post5.svg" srcset="../img/svg/post5.svg 2x" alt="post5">
            <h4>Lifestyle</h4>
            <h3>9 New Songs to Heat Up Your Fall Playlist</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post6.svg" srcset="../img/svg/post6.svg 2x" alt="post6">
            <h4>Events</h4>
            <h3>What You Need on Your Bedside Table</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post7.svg" srcset="../img/svg/post7.svg 2x" alt="post7">
            <h4>Travel</h4>
            <h3>When Two Wheels Are Better Than Four</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post8.svg" srcset="../img/svg/post8.svg 2x" alt="post8">
            <h4>Travel</h4>
            <h3>26 Living Room Ideas from the Homes of Top Designers</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div>
        <div class="post">
            <img src="../img/svg/post9.svg"srcset="../img/svg/post9.svg 2x" alt="post9">
            <h4>Music</h4>
            <h3>What Makes Your City’s Style Unique</h3>
            <div>
                <span class="author">Niek Bove</span>
                <span class="date">
                    <span>&#x2022</span>
                    April 8, 2018
                    <span>&#x2022</span>
                </span>
                <span class="views">3K Views</span>
            </div>
            <span class="description">
                Structured gripped tape invisible moulded cups for sauppor firm hold strong powermesh front liner sport
                detail. Warmth comfort hangs loosely from the body large pocket at the front full button…
            </span>
        </div> -->
    </div>
</main>